absl-py                      1.1.0
addict                       2.2.1
aiohttp                      3.8.1
aiosignal                    1.2.0
albumentations               0.4.3
altair                       4.2.0
antlr4-python3-runtime       4.8
astor                        0.8.1
asttokens                    2.0.5
astunparse                   1.6.3
async-timeout                4.0.2
attrs                        22.1.0
autograd                     1.4
autograd-gamma               0.5.0
backcall                     0.2.0
backports.zoneinfo           0.2.1
bleach                       5.0.1
blessed                      1.19.1
blessings                    1.7
blinker                      1.5
bokeh                        2.4.3
Brotli                       1.0.9
cachetools                   4.2.4
certifi                      2022.9.24
charset-normalizer           2.0.12
click                        8.1.3
clip                         0.2.0       
cloudpickle                  2.2.0
colorcet                     3.0.1
coloredlogs                  15.0.1
commonmark                   0.9.1
contourpy                    1.0.6
cvxopt                       1.3.0
cvxpy                        1.2.1
cycler                       0.11.0
dask                         2022.11.1
datashader                   0.14.3
datashape                    0.5.2
debugpy                      1.5.1
decorator                    5.1.1
diffusers                    0.7.2
docopt                       0.6.2
ecos                         2.0.10
efficientnet-pytorch         0.7.1
einops                       0.3.0
entrypoints                  0.4
executing                    0.8.3
feather-format               0.4.1
filelock                     3.8.0
flatbuffers                  22.10.26
fonttools                    4.38.0
formulaic                    0.2.4
frozenlist                   1.3.0
fsspec                       2022.11.0
ftfy                         6.1.1
future                       0.18.2
gast                         0.4.0
gitdb                        4.0.9
GitPython                    3.1.29
google-auth                  1.35.0
google-auth-oauthlib         0.4.6
google-pasta                 0.2.0
googledrivedownloader        0.4
gpustat                      0.6.0
grpcio                       1.46.3
h5py                         3.7.0
holoviews                    1.15.2
huggingface-hub              0.10.1
humanfriendly                10.0
idna                         3.4
imageio                      2.9.0
imageio-ffmpeg               0.4.2
imgaug                       0.2.6
importlib-metadata           4.11.4
importlib-resources          5.10.0
install                      1.3.5
interface-meta               1.3.0
invisible-watermark          0.1.5
ipykernel                    6.15.2
ipython                      8.6.0
isodate                      0.6.1
jedi                         0.18.1
Jinja2                       3.1.2
joblib                       1.2.0
jsonpatch                    1.32
jsonpointer                  2.3
jsonschema                   4.17.0
jupyter_client               7.4.7
jupyter_core                 4.11.2
keras                        2.10.0
Keras-Preprocessing          1.1.2
kiwisolver                   1.4.4
kornia                       0.6.2
libclang                     14.0.6
lifelines                    0.26.0
llvmlite                     0.39.1
locket                       1.0.0
loguru                       0.5.3
Markdown                     3.3.7
MarkupSafe                   2.1.1
matplotlib                   3.6.2
matplotlib-inline            0.1.6
mkl-fft                      1.3.1
mkl-random                   1.2.2
mkl-service                  2.4.0
mpmath                       1.2.1
multidict                    6.0.2
multipledispatch             0.6.0
multivolumefile              0.2.3
munch                        2.5.0
nest-asyncio                 1.5.5
networkx                     2.8.8
nmslib                       2.0.6
numba                        0.56.4
numpy                        1.23.4
nvidia-cublas-cu11           11.10.3.66
nvidia-cuda-nvrtc-cu11       11.7.99
nvidia-cuda-runtime-cu11     11.7.99
nvidia-cudnn-cu11            8.5.0.96
nvidia-ml-py                 11.495.46
nvidia-ml-py3                7.352.0
nystrom-attention            0.0.9
oauthlib                     3.2.0
omegaconf                    2.1.1
onnx                         1.12.0
onnxruntime                  1.13.1
opencv-python                4.2.0.34
opencv-python-headless       4.6.0.66
openslide-python             1.1.2
opt-einsum                   3.3.0
osqp                         0.6.2.post5
packaging                    21.3
pandas                       1.2.3
panel                        0.14.1
param                        1.12.2
parso                        0.8.3
partd                        1.3.0
pexpect                      4.8.0
pickleshare                  0.7.5
Pillow                       9.3.0
pip                          22.2.2
pkgutil_resolve_name         1.3.10
pqi                          2.0.6
pretrainedmodels             0.7.4
prompt-toolkit               3.0.20
protobuf                     3.19.4
psutil                       5.9.4
ptyprocess                   0.7.0
pudb                         2019.2
pure-eval                    0.2.2
py7zr                        0.18.9
pyarrow                      8.0.0
pyasn1                       0.4.8
pyasn1-modules               0.2.8
pybcj                        0.6.0
pybind11                     2.9.2
pycox                        0.2.2
pycryptodomex                3.14.1
pyct                         0.4.8
pydeck                       0.8.0
pyDeprecate                  0.3.1
Pygments                     2.13.0
Pympler                      1.0.1
pynndescent                  0.5.8
pyparsing                    3.0.9
pyppmd                       0.18.2
pyrsistent                   0.19.2
python-dateutil              2.8.2
pytorch-lightning            1.2.3
pytorch-ranger               0.1.1
pytorch-toolbelt             0.4.0
pytz                         2022.6
pytz-deprecation-shim        0.1.0.post0
pyviz-comms                  2.2.1
PyWavelets                   1.4.1
PyYAML                       6.0
pyzmq                        23.2.0
pyzstd                       0.15.2
qdldl                        0.1.5.post2
rdflib                       6.1.1
regex                        2022.10.31
requests                     2.28.1
requests-oauthlib            1.3.1
rich                         12.6.0
rsa                          4.8
scann                        1.2.8
scikit-image                 0.19.3
scikit-learn                 1.1.3
scikit-survival              0.14.0
scipy                        1.5.4
scs                          3.2.0
seaborn                      0.12.1
segmentation-models-pytorch  0.3.2
semver                       2.13.0
setuptools                   65.5.0
six                          1.16.0
smmap                        5.0.0
stack-data                   0.2.0
streamlit                    1.14.1
sympy                        1.11.1
tensorboard                  2.4.0
tensorboard-data-server      0.6.1
tensorboard-plugin-wit       1.8.1
tensorboardX                 2.0
tensorflow                   2.10.0
tensorflow-estimator         2.10.0
tensorflow-io-gcs-filesystem 0.27.0
termcolor                    2.1.0
test-tube                    0.7.5
texttable                    1.6.4
threadpoolctl                3.1.0
tifffile                     2021.1.11
timm                         0.6.12
tokenizers                   0.12.1
toml                         0.10.2
toolz                        0.12.0
torch                        1.7.1+cu110
torch-cluster                1.5.8
torch-fidelity               0.3.0
torch-geometric              2.0.1
torch-optimizer              0.0.1a13
torch-scatter                2.0.5
torch-sparse                 0.6.9
torch-spline-conv            1.2.0
torchaudio                   0.8.1
torchfile                    0.1.0
torchmetrics                 0.4.1
torchnet                     0.0.4
torchsummary                 1.5.1
torchtuples                  0.2.2
torchvision                  0.8.2+cu110
tornado                      6.2
tqdm                         4.46.1
traitlets                    5.1.1
transformers                 4.19.2
typing_extensions            4.3.0
tzdata                       2022.6
tzlocal                      4.2
umap-learn                   0.5.3
urllib3                      1.26.13
urwid                        2.1.2
validators                   0.20.0
visdom                       0.1.8.9
watchdog                     2.1.9
wcwidth                      0.2.5
webencodings                 0.5.1
websocket-client             1.3.2
Werkzeug                     2.2.2
wheel                        0.37.1
wrapt                        1.14.1
xarray                       2022.11.0
xyzservices                  2022.9.0
yacs                         0.1.8
yarl                         1.7.2
zipfile-deflate64            0.2.0
zipp                         3.10.0